* {
    box-sizing: border-box;
}



body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    background: url(southafrica2.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    width: auto;
    
}

@media screen and (max-width: 500px) {
    body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;    
    height: 100%;    
    background: url(southafrica2.jpg);       
    background-size: cover;
    background-attachment: fixed;
    }
}


.firstLine {
    position: relative;
    bottom: 20px;
    text-align: center;
    font-size: 32px;
}

.secondLine {
    position: relative;
    bottom: 50px;
    text-align: center;
    font-size: 32px;
}

.main {
    color:  #f5dcda;
    
}

.topnav {
    height: 45px;
    font-size: 20px;
    text-align: right;
    
}

.topnav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #70c1b3;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    
}

.topnav a:hover {
    font-weight: 800;
}

.initials {
    display: inline-block;
    color: #70c1b3;
    position: relative;
    bottom: 40px;
    left: 10px;
    font-size: 45px;
    text-decoration: none;
}

.loves {
    top: 10px;
    text-align: center;
    position: relative;
    margin: auto;
    list-style: none;
    font-size: 25px;
    color: #f5dcda;
    font-family: 'Roboto', sans-serif;
    
}


.aboutPage {
    
    font-family: 'Roboto';
    font-size: 50px;
    bottom: 45px;
    text-align: center;
    font-size: 25px;  
    color: #f5dcda;
    margin: auto;
}

/*links to icons */
footer {
    position: relative;
    font-size: 30px;
    text-align: center;
    padding: 30px;
    bottom: 10px;
    margin: auto;
    
}

.fa {
    padding: 20px;
    font-size: 50px;
    width: 50px;
    text-align: left;
    text-decoration: none;
    margin: 5px 2px;
}
  
  .fa:hover {
    color:#70c1b3;
}

  .fa-instagram {
    background: transparent;
    color: #f5dcda;
  }  


.fa-google {
    background: transparent;
    color: #f5dcda;
  }

 .fa-linkedin {
    background: transparent;
    color: #f5dcda;
  }

  .fa-github {
    background: transparent;
    color: #f5dcda;
  }

/*projects page */
#projects {
    box-sizing: border-box;
    position: relative;
    text-align: center;
    color: #f5dcda;
}

.description {
    font-size: 20px;
}

.beerapp {
    position: relative;
    width: 50%;
    height: auto;
}

#projects a {
    text-decoration: none;
    color: #f5dcda;
    font-size: 30px;
    padding-right: 10px;

}

#projects a:hover {
    font-weight: 800;
    color: #70c1b3;
}













 

/*@media only screen and (min-device-width: 600px)*/
